---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>{{ site.description | markdownify }}</p>
							<ul class="actions">
								<li><a href="#one" class="button special scrolly">Explore</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

					{% include centered.html title="Musician" content="Noel is a multi-instrumentalist who plays drums and guitar for multiple bands. 
					His musical roots are in jazz and blues which can be heard throughout his long list of original and amazing songs." icons=""%}


					<section id="two" class="wrapper alt style2">
						{%include right.html title="Guitarist" content="Over ten years experience playing and performing on guitar" pic="assets/noel/stage1.jpg" %}
						{%include left.html title="Drummer" content="Session player and member of dis-Ease and Electric Dharma" pic="assets/noel/drums2.jpg" %}
						{%include right.html title="Vocalist" content="" pic="assets/noel/mic3.png" %}
					</section>

					{% include features.html style="style3" title="Services" description="Available Now!" features=site.data.features %}


					{% capture sc %}
					<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/431283729&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
					{% endcapture %}
					{% include centered.html title="Listen Now" content=sc %}
				<!-- CTA -->

				{% include trans-scroll.html title="Learn More" content="Read about my story, upbringing, and musical background" link="bio.html" link-text="About Me" %}
				
				{% include features.html style="style1" title="Connect" description="Follow me for updates, shows, events, and more!" features=site.data.media %}

