<!-- One -->
<section id="one" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>{{ include.title }}</h2>
            <p>{{ include.content }}</p>
        </header>

        {% if include.icons %}
        <ul class="icons major">
            <li><span class="fas  fa-music major style1"><span class="label"></span></span></li>
            <li><span class="fas fa-play-circle major style2"><span class="label"></span></span></li>
            <li><span class="fas  fa-microphone major style3"><span class="label"></span></span></li>
        </ul>
        {% endif %}
    </div>
</section>